body{
    background-color: rgb(84, 84, 84);
    display: flex;
}

.clock{
    position: absolute;
    top:10%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    color:#ffffff;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}
small{
    color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: baseline;
}